<form (ngSubmit)="addRemainder()" class="form">
  <h3>Reminders</h3>
  <input
    type="text"
    [(ngModel)]="newRemainder.title"
    name="title"
    placeholder="Title"
    required
  />
  <input
    type="text"
    [(ngModel)]="newRemainder.description"
    name="description"
    placeholder="Description"
    required
  />
  <input
    type="date"
    [(ngModel)]="newRemainder.dueDate"
    name="dueDate"
    required
    class="date"
  />
  <button type="submit">Add Reminder</button>

  <ul class="reminder-list">
    <li *ngFor="let reminder of reminders" class="reminder-item">
      <div class="reminder-content">
        <div class="reminder-header">
          <h4>{{ reminder.title }}</h4>
        </div>
        <div class="reminder-body">
          <p class="reminder-description">{{ reminder.description }}</p>
        </div>
        <div class="reminder-footer">
          <span class="reminder-due-date"
            >Date: {{ reminder.dueDate | date : "shortDate" }}</span
          >
        </div>
      </div>
    </li>
  </ul>
</form>
